.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}

/* 타이틀 */
.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

/* 프로필 */
.profileSection {
  padding: 0 20px;
  margin-bottom: 60px;
}

/* 액션 영역 */
.actionSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  gap: 20px;
  text-align: center;
}

.actionSection img {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.actionSection img:hover {
  transform: scale(1.05);
}

.actionSection a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

/* 리뷰 영역 */
.reviewSection {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviewTitle {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* 리뷰 링크 스타일 */
.reviewSection a {
  text-decoration: none;
  padding: 6px 12px;
  background-color: #6edbba;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s;
  text-align: center;
  width: fit-content;
}

.reviewSection a:hover {
  background-color: teal;
}
